//sets the body styling of the page
header {
    font-size: 10px;
    padding: 5px;
}

body {
  text-align: center;
  font-family: 'Barlow', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  background-color: lightblue;
}

h1 {
  color: green;
}

.pokemon-list {
  text-align: center;
  display: inline;
  width: 100%;
  list-style-type: none;
  padding: 50px;
}

.show-modal {
  display: none;
}

#modal-container.is-visible {
	position: fixed;
	padding: 20px;
  box-sizing: border-box;
  border-radius: 5px;
  border: 5px solid;
  transition-duration: 0.3s;
  top: 50px;
  left: 340px;
  width: 50%;
  margin: 0 auto;
  text-align: center;
  background: white;
  opacity: 90%;
}

li {
  border: 5px;
  padding: 5px;
}

button.button-class {
  width: 25%;
  padding: 10px;
}

button.button-class: hover, button.button-class: focus {
  cursor: pointer;
  opacity: 0.50%;
}

.page-container {
margin-top: 600px;
}

.navbar {
  position: absolute;
}
